# Never push state 
*.tfstate
*.tfstate.*

**/.terraform/*

crash.log

override.tf
override.tf.json
*_override.tf
*_override.tf.json

# prevent from pushing credentials or configuration information to github
variables.tfvars

# prevent from pushing GCP creds
key.json
